<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<hr>
<strong>Sightings:</strong>
<ol id="sighting_list">
  <% @animal.sightings.each do |sighting|  %>
    <li><%=sighting.date %> | <%=sighting.time.strftime('%H:%M') %> | <%=sighting.lat_long%> | <%=sighting.region%> </li>
  <% end %>
</ol>

<hr>

<br>
<p class="form">
  <input class="input_text" type="date" name="sighting[date]"  id="date">
  <input class="input_text" type="time" name="sighting[time]" id="time">
  <input class="input_text" type="text" name="sighting[lat_long]" placeholder="Lattitude, Longitude" id="latLong">
  <input class="input_text" type="text" name="sighting[region]" placeholder="Region" id="region">
  <input class="input_text" type="hidden" name="sighting[animal_id]" id="animalId" value="<%=@animal.id%>">
  <button id="create_new_sighting" class="btn btn-default">Create New Sighting</button>
</p>




<br>
<a href="/sightings/new?animal_id=<%=@animal.id%>">
  Add New Sighting
</a> |
<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Home', animals_path %>
