<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @animal.common_name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<hr>
<strong>Sightings:</strong>
<ol>
  <% @animal.sightings.each do |sighting|  %>
    <li><%=sighting.date %> | <%=sighting.time %> | <%=sighting.lat_long%> | <%=sighting.region%> </li>
  <% end %>
</ol>

<hr>



<br>
<a href="/sightings/new?animal_id=<%=@animal.id%>">
  Add New Sighting
</a> |
<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Home', animals_path %>
